.decodeList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

@media screen and (min-width: 1279px) {
    .decodeList {
        justify-content: flex-start;
    }
}