@media screen and (min-width: 1279px) {
    .topWrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
    }
}