.decodeItem {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    flex-basis: calc((100% - 15px) / 2);
    max-width: 165px;
}

.decodeValue {
    font-size: 16px;
    margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
    .decodeItem {
        flex-basis: calc((100% - 15px * 2) / 3);
        max-width: none;
    }
}